@use "../base/variables" as *;

.pagination {
    @include flex(row, flex-end, center);
    margin-top: $spacing-sm;
    gap: 2px;

    .btn-surface {
        width: 2rem;
        height: 2rem;

        &.pagination-button-active {
            background-color: var(--color-primary-light);
            color: var(--color-primary);
        }
    }

    &-button {
        &-previous {
            border-radius: $radius-md 0 0 $radius-md;
        }

        &-next {
            border-radius: 0 $radius-md $radius-md 0;
        }
    }
}

.breadcrumb {
    ol {
        @include flex(row, flex-start, center);
        flex-wrap: wrap;
        gap: $spacing-sm;
        font-size: $font-size-sm;

        li {
            @include flex(row, center, center);
            gap: $spacing-sm;
            white-space: nowrap;
        }
    }
}

.rating-stars {
    @include flex(row, center, center);
    gap: 2px;

    svg {
        width: $font-size-base;

        stop:first-child {
            stop-color: var(--color-warning);
        }

        stop:last-child {
            stop-color: var(--color-border);
        }
    }
}

.filters {
    @include flex(column, flex-start, stretch);
    flex: 0 0 15rem;
    gap: $spacing-lg;

    .filter-group {
        &-toggle {
            display: none;

            &:not(:checked) {
                +.filter-group-header {
                    .icon-chevron-down {
                        transform: rotate(180deg);
                    }
                }

                ~.filter-group-body {
                    height: 0 !important;
                }
            }
        }

        &-header {
            @include flex(row, space-between, center);
            cursor: pointer;

            .filter-group-label {
                font-weight: 500;
            }

            .icon-chevron-down {
                transition: transform 0.3s;
            }
        }

        &-body {
            @include flex(column, flex-start, stretch);
            padding-top: $spacing-sm;
            font-size: $font-size-sm;
            overflow: hidden;
            transition: height 0.3s;

            .checkbox-wrapper {
                min-height: 1.5rem;
                justify-content: flex-start;

                .input-checkbox {
                    width: $font-size-sm;
                    height: $font-size-sm;
                }
            }

            .filter-range {
                @include flex(row, space-between, center);
                gap: $spacing-sm;

                .input-field {
                    width: 50%;
                }
            }
        }
    }
}