@use "../base/variables" as *;

.campaigns-page {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;

    h2 {
        font-size: $font-size-4xl;
        font-weight: 500;
        text-align: center;
    }

    main {
        @include flex(column, flex-start, stretch);
        margin-top: $spacing-xl;
        gap: $spacing-lg;

        .promo-card {
            @include flex(row, flex-start, stretch);
            background-color: var(--color-surface);
            border-radius: $radius-lg;
            overflow: hidden;

            &-image-wrapper {
                position: relative;
                height: 13rem;
                flex: 0 1 50%;

                img {
                    object-fit: cover;
                }
            }

            &-info {
                @include flex(column, flex-start, stretch);
                flex: 1;
                padding: $spacing-md;
                gap: $spacing-sm;

                h3 {
                    font-size: $font-size-2xl;
                    font-weight: 500;
                }

                .text-muted {
                    font-size: $font-size-sm;
                }

                .btn-primary {
                    margin-left: auto;
                    margin-top: auto;
                }
            }

            @media (max-width:768px) {
                flex-direction: column;

                &-image-wrapper {
                    aspect-ratio: 1920/700;
                    height: unset;
                }
            }
        }
    }
}

.all-products-page,
.category-page {
    padding-top: $spacing-md;
    padding-bottom: $spacing-md;

    main {
        @include flex(row, flex-start, flex-start);
        margin-top: $spacing-md;
        gap: $spacing-lg;

        .products-section {
            flex: 1;

            &-header {
                @include flex(row, space-between, center);
                flex-wrap: wrap;
                margin-bottom: $spacing-md;
                gap: $spacing-sm;

                .custom-select {
                    width: 12rem;
                    margin-left: auto;
                }
            }

            .products {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(min(16rem, 100%), 1fr));
                gap: $spacing-md;
            }
        }
    }
}