$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: clamp(1rem, 0.9rem + 0.8vw, 1.5rem);
$spacing-xl: clamp(1.25rem, 1rem + 1vw, 2rem);
$spacing-2xl: clamp(1.75rem, 1.25rem + 1.2vw, 2.5rem);
$spacing-3xl: clamp(2.5rem, 1.75rem + 1.5vw, 3.5rem);
$spacing-4xl: clamp(3rem, 2rem + 2vw, 5rem);

$radius-sm: 0.25rem;
$radius-md: 0.375rem;
$radius-lg: 0.5rem;
$radius-xl: 0.75rem;
$radius-2xl: 1rem;
$radius-3xl: 1.5rem;

$font-size-base: 16px;
$font-size-xs: $font-size-base * 0.75;
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: clamp(#{$font-size-base * 1}, #{$font-size-base * 0.85} + 0.45vw, #{$font-size-base * 1.125});
$font-size-xl: clamp(#{$font-size-base * 1.125}, #{$font-size-base * 0.9} + 0.6vw, #{$font-size-base * 1.25});
$font-size-2xl: clamp(#{$font-size-base * 1.25}, #{$font-size-base * 1} + 0.75vw, #{$font-size-base * 1.5});
$font-size-3xl: clamp(#{$font-size-base * 1.5}, #{$font-size-base * 1.25} + 0.9vw, #{$font-size-base * 1.875});
$font-size-4xl: clamp(#{$font-size-base * 1.75}, #{$font-size-base * 1.4} + 1.15vw, #{$font-size-base * 2.25});
$font-size-5xl: clamp(#{$font-size-base * 2.125}, #{$font-size-base * 1.6} + 1.5vw, #{$font-size-base * 3});
$font-size-6xl: clamp(#{$font-size-base * 2.625}, #{$font-size-base * 1.9} + 1.9vw, #{$font-size-base * 3.75});
$font-size-7xl: clamp(#{$font-size-base * 3}, #{$font-size-base * 2.2} + 2.3vw, #{$font-size-base * 4.5});

@mixin flex($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin text-line-clamp ($lines) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}